@import './custom_bootstrap';
@import "~rfs/scss";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
//intro------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    25%,
    37% {
        transform: translate3d(0, 60%, 0);
    }
    62%,
    75% {
        transform: translate3d(0, 40%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

span {
    font-weight: 700;
}

.animated-title {
    color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-23vw, -50%);
    width: 60vw;
}

.animated-title>div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.animated-title>div div {
    font-size: 3.6vw;
    padding: 2vmin 0;
    position: absolute;
}

.animated-title>div div span {
    display: block;
}

.animated-title>div.text-top {
    border-bottom: 1vmin solid rgb(255, 255, 255);
    top: 0;
    width: 50vw;
}

.animated-title>div.text-top div {
    animation: showTopText 1.6s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.animated-title>div.text-top div span:first-child {
    color: #969696;
}

.animated-title>div.text-top div span:nth-child(2) {
    color: #b3b3b3;
}

.animated-title>div.text-bottom {
    bottom: 0;
}

.animated-title>div.text-bottom div {
    animation: showBottomText 0.6s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}