@import './custom_bootstrap';
@import "~rfs/scss";
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.text1{
  font-size: 1.1vw;
  
}
.m-text1{
  font-size: 1.1vh;
  
}

.header-text{
  font-size: 4.05vw;
  font-family: 'Barlow', sans-serif;
}
.m-header-text{
  font-size: 4.05vh;
  font-family: 'Barlow', sans-serif;
}

h2{
  
  @include rfs(2rem);
}
li {
  font-size: 1.1vw;
}
html{
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 100;
}


.iconlist{
    
	margin: 0.2vw;
	padding: 0.8vw 4vw 1.3vw;
	list-style: none;
	background-size: 8%;
  background-repeat: no-repeat; 
  background-position: left;
}

.iconlist2{
	margin: 0vh;
	padding: 0.8vw 8vw 2.5vw;
	list-style: none;
	background-size: 16%;
  text-align:center;
  background-repeat: no-repeat; 
  background-position: right;
}

.iconlist3{
	margin: 0vh;
	padding: 0vw 8.5vw 2.5vw;
	list-style: none;
	background-size: 16%;
  text-align:center;
  background-repeat: no-repeat; 
  background-position: left;
}

.strong{
    font-size: 1.2vw;
    
  font-style: oblique;
}

.m-strong{
  
    font-size: 2.0vh;
    
  font-style: oblique;
}



//mobile scroll indicator

$base: 0.6rem;

.arrow-container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #ffffff;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}