@import './custom_bootstrap';
@import "~rfs/scss";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.header-text {
    font-size: 4.5vh;
    font-family: 'Barlow', sans-serif;
}

.m-header-text {
    font-size: 5.05vh;
    font-family: 'Barlow', sans-serif;
}

.m-iconlist {
    margin: 0vh;
    margin-top: 0.5vh;
    /*top left bottom*/
    padding: 1.3vh 6.5vh 1.3vh;
    list-style: none;
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 1.5vh;
}

.m-iconlist {
    margin: 0vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    /*top left bottom*/
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
    padding-left: 6.5h;
    list-style: none;
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 1.5vh;
}

.m-iconlist2 {
    margin: 0vh;
    margin-top: 0vh;
    margin-bottom: 0.5vh;
    /*top left bottom*/
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    padding-left: 9vh;
    list-style: none;
    background-size: 7.5vh;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 1.5vh;
}

.iconlist {
    margin: 0.2vw;
    padding: 0.8vw 4vw 1.3vw;
    list-style: none;
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: left;
}

.iconlist2 {
    margin: 0vh;
    padding: 0.8vw 8vw 2.5vw;
    list-style: none;
    background-size: 16%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: right;
}

.iconlist3 {
    margin: 0vh;
    padding: 0vw 8.5vw 2.5vw;
    list-style: none;
    background-size: 16%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: left;
}

#cover1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}