@import './custom_bootstrap';
@import "~rfs/scss";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 700;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
}

.sidenav a {
    margin: 0.2vh 0.2vh 0.2vh 2vh;
    text-decoration: none;
    font-size: 1.8vh;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 1vh;
}

.sidenav p {
    margin: 0.2vh 0.2vh 0.2vh 2vh;
    font-size: 2.5vh;
    color: white;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3vh;
    margin-right: 75%;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    z-index: 100;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
    z-index: 9999;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#menu {
    position: fixed;
    z-index: 70;
    right: 0vw;
}