@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}



.demo a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 1vw 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section10 a {
  padding-top: 5.5vw;
  position: relative
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3vw;
  height: 4.5vw;
  margin-left: -1.5vw;
  border: 0.3vw solid #fff;
  border-radius: 5vw;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 1vw;
  left: 50%;
  content: '';
  width: 0.6vw;
  height: 0.6vw;
  margin-left: -0.3vw;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}