.avatar {
    height: 10%;
    position: relative;
    width: 90%;
}

.avatar img {
    position: relative;
    width: 90%;
    z-index: 2;
}

@keyframes pulse {
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}

.avatar::before,
.avatar::after {
    animation: pulse 1.5s linear infinite;
    border: rgba(255, 255, 255, 0.479) solid 60px;
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 9999px;
    box-sizing: border-box;
    content: ' ';
    height: 120%;
    left: 0%;
    top: -10%;
    opacity: .6;
    position: absolute;
    transform: scale(0.6);
    width: 100%;
    z-index: 1;
}