.header {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100vw;
    background-color: #f1f1f1;
}

.header h2 {
    text-align: center;
}

.progress-container {
    width: 100vw;
    height: 15px;
    background: #ccc;
}

.progress-bar {
    height: 12px;
    background: #fcc100!important;
    width: 0%;
}