#cover1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.fullscreen{
    margin-left: -100%;
}
img{
    object-fit:cover;
}

.list-text {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

#list1 li {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.ms-section {
    vertical-align: top;
}

.section1 {
    background: rgb(51,51,51);
background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
    color: rgb(255, 255, 255);
}
.section1-r {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.section2 {
    background: rgb(229, 22, 56);
    background: linear-gradient(-90deg, rgba(229, 22, 56, 1) 0%, rgba(170, 9, 35, 1) 44%, rgba(96, 0, 15, 1) 100%);
    color: rgb(255, 255, 255);
}
.section2-r {
    background: rgb(229, 22, 56);
    background: linear-gradient(90deg, rgba(229, 22, 56, 1) 0%, rgba(170, 9, 35, 1) 44%, rgba(96, 0, 15, 1) 100%);
    color: rgb(255, 255, 255);
}
.section3-r {
    background: rgb(12,110,15);
background: -moz-linear-gradient(-90deg, rgba(12,110,15,1) 0%, rgba(24,177,30,1) 100%);
background: -webkit-linear-gradient(-90deg, rgba(12,110,15,1) 0%, rgba(24,177,30,1) 100%);
background: linear-gradient(-90deg, rgba(12,110,15,1) 0%, rgba(24,177,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c6e0f",endColorstr="#18b11e",GradientType=1);
    color: rgb(255, 255, 255);
}
.section3 {
    background: rgb(12,110,15);
background: -moz-linear-gradient(90deg, rgba(12,110,15,1) 0%, rgba(24,177,30,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(12,110,15,1) 0%, rgba(24,177,30,1) 100%);
background: linear-gradient(90deg, rgba(12,110,15,1) 0%, rgba(24,177,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c6e0f",endColorstr="#18b11e",GradientType=1);
    color: rgb(255, 255, 255);
}
.section4-r {
   background: rgb(65,155,233);
background: -moz-linear-gradient(90deg, rgba(65,155,233,1) 0%, rgba(56,133,200,1) 49%, rgba(37,87,131,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(65,155,233,1) 0%, rgba(56,133,200,1) 49%, rgba(37,87,131,1) 100%);
background: linear-gradient(90deg, rgba(65,155,233,1) 0%, rgba(56,133,200,1) 49%, rgba(37,87,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#419be9",endColorstr="#255783",GradientType=1);
    color: rgb(255, 255, 255);
}
.section4 {
   background: rgb(65,155,233);
background: -moz-linear-gradient(-90deg, rgba(65,155,233,1) 0%, rgba(56,133,200,1) 49%, rgba(37,87,131,1) 100%);
background: -webkit-linear-gradient(-90deg, rgba(65,155,233,1) 0%, rgba(56,133,200,1) 49%, rgba(37,87,131,1) 100%);
background: linear-gradient(-90deg, rgba(65,155,233,1) 0%, rgba(56,133,200,1) 49%, rgba(37,87,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#419be9",endColorstr="#255783",GradientType=1);
    color: rgb(255, 255, 255);
}
.section5 {
background: rgb(20,72,140);
background: -moz-linear-gradient(-90deg, rgba(20,72,140,1) 0%, rgba(13,46,91,1) 100%);
background: -webkit-linear-gradient(-90deg, rgba(20,72,140,1) 0%, rgba(13,46,91,1) 100%);
background: linear-gradient(-90deg, rgba(20,72,140,1) 0%, rgba(13,46,91,1) 50%);
    color: rgb(255, 255, 255);

}
.section5-r {


    background: rgb(20,72,140);
background: -moz-linear-gradient(90deg, rgba(20,72,140,1) 0%, rgba(13,46,91,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(20,72,140,1) 0%, rgba(13,46,91,1) 100%);
background: linear-gradient(90deg, rgba(20,72,140,1) 0%, rgba(13,46,91,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14488c",endColorstr="#0d2e5b",GradientType=1);
    color: rgb(255, 255, 255);

}
.section6-r {
background: rgb(53,0,107);
background: -moz-linear-gradient(270deg, rgba(53,0,107,1) 0%, rgba(94,0,189,1) 32%, rgba(111,49,173,1) 100%);
background: -webkit-linear-gradient(270deg, rgba(53,0,107,1) 0%, rgba(94,0,189,1) 32%, rgba(111,49,173,1) 100%);
background: linear-gradient(270deg, rgba(53,0,107,1) 0%, rgba(94,0,189,1) 32%, rgba(111,49,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#35006b",endColorstr="#6f31ad",GradientType=1);

color: white;
}
.section6 {
background: rgb(53,0,107);
background: -moz-linear-gradient(90deg, rgba(53,0,107,1) 0%, rgba(94,0,189,1) 32%, rgba(111,49,173,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(53,0,107,1) 0%, rgba(94,0,189,1) 32%, rgba(111,49,173,1) 100%);
background: linear-gradient(90deg, rgba(53,0,107,1) 0%, rgba(94,0,189,1) 32%, rgba(111,49,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#35006b",endColorstr="#6f31ad",GradientType=1);

    color: rgb(255, 255, 255);
}

.section7 {
background: rgb(255,98,0);
background: -moz-linear-gradient(270deg, rgba(255,98,0,1) 0%, rgba(255,68,0,1) 69%, rgba(154,41,0,1) 100%);
background: -webkit-linear-gradient(270deg, rgba(255,98,0,1) 0%, rgba(255,68,0,1) 69%, rgba(154,41,0,1) 100%);
background: linear-gradient(270deg, rgba(255,98,0,1) 0%, rgba(255,68,0,1) 69%, rgba(154,41,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6200",endColorstr="#9a2900",GradientType=1);

color: white;
}

.section7-r {
background: rgb(255,98,0);
background: -moz-linear-gradient(90deg, rgba(255,98,0,1) 0%, rgba(255,68,0,1) 69%, rgba(154,41,0,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,98,0,1) 0%, rgba(255,68,0,1) 69%, rgba(154,41,0,1) 100%);
background: linear-gradient(90deg, rgba(255,98,0,1) 0%, rgba(255,68,0,1) 69%, rgba(154,41,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6200",endColorstr="#9a2900",GradientType=1);

color: white;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}
.icon-scroll {
    width: 60px;
    height: 100px;
    margin-left: -40px;
    bottom: 20px;
    margin-top: -70px;
    border: 2px solid #fff;
    border-radius: 50px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 16px;
    height: 16px;
    background: #fff;
    margin-left: -8px;
    top: 16px;
    border-radius: 8px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}
