#cover1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.fullscreen{
    margin-left: -100%;
}
img{
    object-fit:scale-down;
}

.list-text {
    font-size: 1.3vh;
    color: rgb(255, 255, 255);
}

#list1 li {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.ms-section {
    vertical-align: top;
}


h4{
    
  font-family: 'Roboto', sans-serif;
  background-color: rgba(84, 84, 84, 0.521);
  font-size: 2vw;
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 65%;
  margin-left: auto;
  border-radius: 10px;
  margin-right: auto;
}

.mobile-top{
height: 60vh;
}
.mobile-bottom{
height: 40vh;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}
.icon-scroll {
    width: 60px;
    height: 100px;
    margin-left: -40px;
    bottom: 20px;
    margin-top: -70px;
    border: 2px solid #fff;
    border-radius: 50px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 16px;
    height: 16px;
    background: #fff;
    margin-left: -8px;
    top: 16px;
    border-radius: 8px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}